@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #13ffff, #5dcc90, #7e9337, #855704, #741111);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

#container {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
    overflow: hidden;
}

img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}