@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alata&family=Delius+Swash+Caps&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.split{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    display: inline-flex;
}



.left{
    font-family: 'Abril Fatface', cursive;
    background-color: rgb(243, 210, 61);
    color:rgb(20, 20, 48);
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    align-items: center;
    margin: 0; 
    flex: 1;    
}
.dark {
    background-color: rgb(5, 5, 4);
    color: rgb(243, 210, 61);
}

.left h1{
    font-size: 80px;
    color: rgb(20, 20, 48);
}

.right{
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    color: #b3062c;
    right: 0;

    display: flex;
    margin: 0;
    background-color: #fde7e7;
    flex: 1;
}

.right nav ul li {
    display: inline-block;
    height: 100%;
    padding: 4.2rem;
    list-style-type: none;
}

.right nav ul li a{
    color: rgb(99, 114, 11);
    font-size: 1.3rem;
}

.right .content{
    display: flex;
    padding: 0 7rem;
    margin: 0;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.right .content h1{
    font-size: 4rem;
}

.right .content p{
    font-size: 1.03rem;
}

.right .content input{
    padding: 6px 30px;
    border: 1px solid rgb(194, 25, 53);
}
.right .content button{
    padding: 6px 20px;
    border: 1px solid rgb(194, 25, 53);
    
    background-color:transparent;
}